.centered {
    position: absolute;
    top: 21%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.title-img {
    position: absolute;
    top: 18%;
    left: 36%;
    transform: translate(-50%, -50%);
}
.art-lg-text {
    font-size: 18px;
    position: absolute !important;
    top: 24%;
    left: 16.5%;
    bottom: 8%;
    color: #fff;
}
.btn-img {
    position: absolute !important;
    top: 32%;
    left: 22%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.information {
    background-color: #252531;
    color: #ededf0;
    border-radius: 0px;
    border: none;
    position: relative;   
}
.personal-information {
    margin: 15px 0px 0px 0px;
}
.personal-information ul {
    list-style: none;
    line-height: 2.0;
}
.forms{
    background-color: #252531;
    color: #ededf0;
    border-radius: 0px;
    border: none;
    position: relative;
}
.form-center {
    /* text-align: center; */
    /* margin-left: 80px; */
    padding: 20px;
}
.fe-sty input {
    border: none;
    background-color: #20202a;
    color: #747373;
}
.fe-sty input:focus {
    border: none;
    background-color: #20202a;
    outline: none;
    color: #747373;
}
.fe-sty label{
    padding-bottom: 5px;
}
.fas {
    color: #20202a;
    font-size: 22px;
    padding-top: 20%;
}
.form-control:focus {
    outline: 0;
    box-shadow: none !important;
}
.user {
    padding-left: 38px;
    background: url(../images/user-icon.png) no-repeat;
    background-size: 20px;
    background-position: 10px 10px;
}
  .call {
    padding-left: 38px;
    background: url(../images/call-icon.png) no-repeat;
    background-size: 20px;
    background-position: 10px 10px;
}
  .email {
    padding-left: 38px;
    background: url(../images/email-icon.png) no-repeat;
    background-size: 20px;
    background-position: 10px 10px;
}
.role {
    padding-left: 38px;
    background: url(../images/role-icon.png) no-repeat;
    background-size: 20px;
    background-position: 10px 10px;
}
.fe-sty select {
    border: none;
    background-color: #20202a;
    color: #747373;
}
.fe-sty select:focus {
    border: none;
    background-color: #20202a;
    outline: none;
    color: #747373;
}
.btn {
    float: right;
    background-color: #fdba04;
    color: #20202a;
    border: none;
    border-radius: 0px;
    margin-top: 18px;
    text-align: center;
    padding-top: 0px;
}
.btn-primary:hover {
    background-color: #fdba04;
    color: #20202a;
    border: none;
}
.btn-primary:active:focus {
    box-shadow: 0 0 0 0.25rem rgb(253 186 4 / 10%) !important;
}
.main-footer {
    margin-top: 10px;
    background-color: #252531;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
}


/* mobile style  */

@media only screen and (max-width: 768px)
{

.title-img {
    position: absolute !important;
    top: 5.6% !important;
    left: 34% !important;
    transform: translate(-50%, -50%) !important;
}
.art-lg-text {
    font-size: 10px !important;
    position: absolute !important;
    top: 7.7% !important;
    left: 10% !important;
    bottom: 8%;
    color: #fff;
}
.btn-img {
    position: absolute;
    top: 11% !important;
    left: 18% !important;
    transform: translate(-50%, -50%);
    text-align: center;
}
.centered {
    display: inline !important;
    position: absolute;
    top: 7.5%;
    left: 80%;
    width: 97px;
    transform: translate(-50%, -50%);
}
.information {
    background-color: #252531;
    color: #ededf0;
    border-radius: 0px;
    border: none;
    position: relative;
    margin-bottom: 10px;
}
.personal-information ul {
    margin-left: 10px;
    list-style: none;
    line-height: 2.0;
}
.contry span {
    margin-left: 101px !important;
}
.city span {
    margin-left: 119px !important;
}
.area span {
    margin-left: 114px !important;
}
.emails span {
    margin-left: 105px !important;
}
.telegram span {
    margin-left: 77px !important;
}
.skype span {
    margin-left: 102px !important;
}
.support span {
    margin-left: 88px !important;
}
.office span {
    margin-left: 100px !important;
}
.personal span {
    margin-left: 83px !important;
}
.main-footer {
    margin-top: 20px;
    background-color: #252531;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    margin-bottom: 0px;
}
.main-footer .foot-menu-1 {
    padding: 4.5% 0% 0% 2%;
    font-size: 13px;
}
.main-footer .foot-menu-2 {
    padding: 4.5% 2% 0% 0%;
    font-size: 13px;
}

}
