:root {
    --primary-color : #e9e9e9;
    --secondary-color: #ffffff;
    --text-color : black;
    --border: 1px solid rgba(0,0,0,.125);
    --font-weight : 600;
}


.light-profile {
    background-color: var(--primary-color);
    color:var(--text-color);
    border-radius: 0px;
    border: var(--border);
    font-weight: var(--font-weight);
    
}

.light-profile h4 {
    color: var(--text-color) !important;
}

.light-details {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-top: 0px;
    border-left: var(--border);
    border-right: var(--border);
    font-weight: var(--font-weight);
}

.light-details .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid rgb(173, 172, 172);
    position: absolute;
    top: 0;
    left: 0
}

.light-details .progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: var(--secondary-color);
    font-size: 12px;
    color: var(--text-color);
    line-height: 76px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.light-details .cv a:hover {
    color: var(--text-color);
}

.light-footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 1px solid rgba(0,0,0,.125);
}

.light-footer .social a:hover {
    color: var(--text-color);
}

.light-menu-btn {
    background-color: var(--primary-color);
    border-radius: 0px;
    border: var(--border);
    font-weight: var(--font-weight);
}

.light-menu-btn a:hover {
    color: var(--text-color);
}

.light-menu-name {
    background-color: var(--secondary-color);
    border-right: var(--border);
    border-left: var(--border);
}

.light-menu-name a:hover {
    color: var(--text-color);
}

.light-menu-end {
    background-color: var(--primary-color);
    border-radius: 0px;
    border: var(--border);
}

.light-main-right-display {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.light-title-img h2{
    color: var(--text-color) !important;
}

.light-sec-1 {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: var(--border);
    font-weight: var(--font-weight);
}

.light-sec-1 .progress1 {
    background-color: rgb(173, 172, 172);
}

.light-sec-2 {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: var(--border);
    font-weight: var(--font-weight);
}

.light-sec-2 p {
    font-weight: 300;
}

.light-sec-2 a {
    font-weight: var(--font-weight);
}

.light-sec-3 {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: var(--border);
    font-weight: var(--font-weight);
}

.light-sec-3 p {
    font-weight: 300;
}

.light-sec-3 a {
    font-weight: var(--font-weight);
}

.light-sec-4 {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: var(--border);
    font-weight: var(--font-weight);
}

.light-sec-4 p {
    font-weight: 300;
}

.light-sec-4 a {
    font-weight: var(--font-weight);
}

.light-sec-5 {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: var(--border);
    font-weight: var(--font-weight);
}

.light-sec-5 p {
    font-weight: 300;
}

.light-sec-5 a {
    font-weight: var(--font-weight);
}

.light-sec-6 {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: var(--border);
    font-weight: var(--font-weight);
}

.light-sec-6 p {
    font-weight: 300;
}

.light-sec-6 a {
    font-weight: var(--font-weight);
}

.light-sec-7 {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: var(--border);
    font-weight: var(--font-weight);
}

.light-sec-7 p {
    font-weight: 300;
}

.light-sec-7 a {
    font-weight: var(--font-weight);
}

.light-price-sec-1 {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: var(--border);
}

.light-price-sec-1 h5 {
    color: var(--text-color);
}

.light-price-sec-1 .features ul li {
    font-weight: 500;
}

.light-price-sec-1 .art-asterisk {
    color: var(--text-color);
    font-weight: var(--font-weight);
}

.light-price-sec-2 {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: var(--border);
}

.light-price-sec-2 h5 {
    color: var(--text-color);
}

.light-price-sec-2 .art-price-cost .art-number span {
    color: var(--text-color);
    font-weight: var(--font-weight);
}

.light-price-sec-2 .features ul li {
    font-weight: 500;
}

.light-price-sec-3 {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: var(--border);
}

.light-price-sec-3 h5 {
    color: var(--text-color);
}

.light-price-sec-3 .art-price-cost .art-number span {
    color: var(--text-color);
    font-weight: var(--font-weight);
}

.light-price-sec-3 .features ul li {
    font-weight: 500;
}

.light-recom .shadow-effect {
    background-color: var(--secondary-color) !important;
}

.light-recom h5 {
    color: var(--text-color) !important;
}

.light-recom #customers-testimonials .shadow-effect p {
    font-weight: 300;
}

.light-recom #customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: gray;
    display: inline-block;
    height: 14px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 40px;
    border-radius: 20px;
}

.light-recom  #customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
    #customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #fdba04;
    transform: translate3d(0px, -50%, 0px) scale(0.5);
}

.light-main-footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: 500;
    border: var(--border);
}

.light-brand img{
    display: none;
}

.light-main-content {
    color: var(--text-color);
    background-color:#6a6565;
}

.light-main-content .centered {
    top: 9.55%;
}

.light-test h6 {
    color: var(--text-color) !important;
}

.light-main-right-nav {
    background-color: var(--secondary-color) !important;
}

.light-main-right-nav .mobi-menu-4 {
    background-color: var(--primary-color);
    border: var(--border);
}

.light-main-right-nav .mobi-menu-4 a {
    color: var(--text-color);
}

.light-main-right-nav .main-nav-list a {
    color: var(--text-color) !important;
}

.light-main-right-nav .main-nav-list li:hover {
    background-color: var(--primary-color);
}

.light-main-right-nav .main-menu-end {
    background-color: var(--primary-color);
    border: var(--border);
    border-radius: 0px;
}
.light-main-details .information {
    background-color: var(--secondary-color);
    border: var(--border);
    color: var(--text-color);
    font-weight: var(--font-weight);

}
.light-main-details .personal-information ul {
    padding-left: 1rem;
}
.light-main-details .information .emails span {
    margin-left: 43px !important;
}
.light-main-details .information .telegram span {
    margin-left: 15px !important;
}
.light-main-details .information .skype span {
    margin-left: 42px !important;
}
.light-forms {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-weight: var(--font-weight);
    border: var(--border);
}
.light-forms .fe-sty input {
    background-color: rgb(173, 172, 172);
    color: var(--text-color);
}
.light-forms .fe-sty input:focus {
    background-color: rgb(173, 172, 172);
    color: var(--text-color);
}
.light-forms .fe-sty [type=file] {
    color: #747373;
}
.light-forms .fe-sty [type=file]:focus {
    color: var(--text-color);
}
.light-forms .fe-sty select {
    background-color: rgb(173, 172, 172);
    color: var(--text-color);
}
.light-forms .fe-sty select:focus {
    background-color: rgb(173, 172, 172);
    color: var(--text-color);
}
.light-forms .fass {
    color: var(--text-color);
}
.light-add {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: 500;
    border: var(--border);
}
.light-sub-class {
    color: var(--text-color);
    background-color:#6a6565 !important;
}
.light-sub-class .centered1 {
    top: 21.1%;
}

@media only screen and (max-width: 768px) { 

.light-main-right-nav {
    display: none;
}
.light-mobi-head {
    background-color: var(--primary-color);
}

.light-mobi-head a {
    color: var(--text-color) !important;
}

.light-profile .mobi-menu-3 a {
    color: var(--text-color) !important;

}

.light-main-content .centered {
    top: 2.54% !important;
}
.light-right-nav {
    background-color: var(--secondary-color);
}
.light-right-nav .mobi-menu-4 {
    background-color: var(--primary-color);
    color: var(--text-color);
}
.light-right-nav .mobi-menu-4 a {
    color: var(--text-color);
}
.light-right-nav .nav-list a {
    color: var(--text-color) !important;
}
.light-right-nav .nav-list li:hover {
    background-color: var(--primary-color);
}
.light-right-nav .nav-end {
    background-color: var(--primary-color);
    border: var(--border);
    border-radius: 0px;
}
 
}